# Core Data Science Libraries
pandas>=2.3.3
numpy>=1.26
matplotlib>=3.9
openpyxl==3.1.2

# Machine Learning
scikit-learn>=1.5
statsmodels>=0.14.2

# Dashboard & Visualization
streamlit>=1.60
plotly==5.24.1
reportlab>=4.0.7
kaleido==0.2.1
Pillow>=10.0.0

# Utilities
python-dateutil==2.8.2
